extends layout 

block content 
    form(action="/new", method="post") 
        div 
            label(for="text") text
            input(type="text" name="text" required)
        div 
            label(for="user") user 
            input(type="text" name= "user" required) 
        button(type="submit") Submit